//- PASSING IN ?

extends layout

block content
  h1= title
  p Welcome to the inventory section of this coffee site. It was built with Express on the backend, templated with Jade, and styled with Bootstrap 5.

  h1 The deets:

  if error
    p Error getting the deets.
  else
    p Currently in stock:

    ul
      li #[strong Coffees:] !{data.coffee_count}
      li #[strong Origins:] !{data.origin_count}
      li #[strong Roasts:] !{data.roast_count}

