//- PASSING IN TITLE, ROAST_LIST, ERROR

extends layout

block content
  h1= title

  h4 The currently available roasts are:

  ul
    each roast in roast_list
      li
        a(href=roast.url) #{roast.name}

  if error
    p #{error.msg}